:root {
  --nav-bg: #1a2b49; /* fundo menu */
  --button-bg: #2e4974; /*cor do bg btn */
  --button-hover: #3a5a8d; /* efeito hover  */
  --text-color: #ffffff; /* texto menu */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
}

/* header lateral */
.sideBar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: var(--nav-bg);
  color: var(--text-color);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 300px; /*  */
  margin-bottom: 20px;
}

/*btns */
.nav-button {
  width: 80%;
  padding: 10px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: var(--button-hover);
}

